<div id="user" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent"
         fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-16" [routerLink]="">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            Property
          </div>

        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <mat-tab-group fxLayout="column" fxFlex>

          <mat-tab label="Property Creation" #tab1>

            <div class="order-details tab-content p-24" fusePerfectScrollbar>

              <div class="section pb-48">

                <!-- REACTIVE FORM EXAMPLE -->
                <div class="mat-card mat-elevation-z4 p-24 mr-24">
                  <form name="form" [formGroup]="form" fxLayout="column">

                    <div class="h2 mb-24">Property Details</div>
                    <div fxLayout="row wrap">
                      <!--<mat-form-field class="selection-fix" appearance="outline" fxFlex>
                        <mat-label>Seller</mat-label>
                        <mat-select formControlName="seller" required>
                          <mat-option *ngFor="let option of states" [value]="option.id">
                            {{option.description}}
                          </mat-option>
                        </mat-select>
                        <mat-error>Seller is required!</mat-error>
                      </mat-form-field>-->

                      <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                        <mat-label>Type of property(Propject Details)</mat-label>
                        <mat-select formControlName="propertyType" required>
                          <mat-option *ngFor="let option of states" [value]="option.id">
                            {{option.description}}
                          </mat-option>
                        </mat-select>
                        <mat-error>Type of property is required!</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="1 0 auto" fxLayout="row wrap">

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Name of the premises/Building/village</mat-label>
                        <input matInput formControlName="promises">

                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Flat/Door/Block No</mat-label>
                        <input matInput formControlName="flat">

                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Road/Street/Lane</mat-label>
                        <input matInput formControlName="road">

                      </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row wrap">

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>City/District </mat-label>
                        <input matInput formControlName="city" required>
                        <mat-error>City/District is required!</mat-error>
                      </mat-form-field>

                      <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" required>
                          <mat-option *ngFor="let option of states" [value]="option.id">
                            {{option.description}}
                          </mat-option>
                        </mat-select>
                        <mat-error>State is required!</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>PIN Code</mat-label>
                        <input matInput formControlName="pinCode" type="number" required>
                        <mat-error>PIN Code is required!</mat-error>
                      </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row wrap">
                      <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                        <mat-label>GST Rate</mat-label>
                        <mat-select formControlName="gstRate" required>
                          <mat-option *ngFor="let option of states" [value]="option.id">
                            {{option.description}}
                          </mat-option>
                        </mat-select>
                        <mat-error>Seller is required!</mat-error>
                      </mat-form-field>

                      <mat-form-field class="selection-fix" appearance="outline" fxFlex>
                        <mat-label>TDS Rate</mat-label>
                        <mat-select formControlName="tdsRate" required>
                          <mat-option *ngFor="let option of states" [value]="option.id">
                            {{option.description}}
                          </mat-option>
                        </mat-select>
                        <mat-error>Type of property is required!</mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>TDS  Interest Rate</mat-label>
                        <input matInput type="number" maxlength="10" formControlName="tdsInterestRate" required>
                        <mat-error>Mobile is required!</mat-error>
                      </mat-form-field>

                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label> Late fee/day</mat-label>
                        <input matInput formControlName="lateFee" required>
                        <mat-error>Valid PAN is required!</mat-error>
                      </mat-form-field>
                    </div>

                  </form>
                  <div fxLayout="column" fxLayoutAlign="center end" style="margin-bottom:20px;">
                   
                    <button mat-raised-button
            class="add-product-button  mt-24 mt-md-0 mr-24 pink" (click)="addCoSeller()">

      <span>Add Co Owner </span>
      <mat-icon class="s-22" style="margin-left:5px">group</mat-icon>
    </button>
                  </div>

                  <div fxLayout="row wrap">
                    <div class="sellers" fxFlex>
                      <div fxLayout="row wrap" class="header" fxLayoutAlign="start">
                        <span>Co seller's shares in %</span>
                      </div>
                      <div fxLayout="column" style="padding:5px 0;" [@animateStagger]="{value:'50'}">
                        <grid [dataSet]="rowData" [gridColDef]="columnDef" (selectedRows)="selectedRows($event)"></grid>
                      </div>
                      <!--<ngx-datatable class="material"
                                     [rows]="rowData"
                                     [loadingIndicator]="loadingIndicator"
                                     [columnMode]="'force'"
                                     [headerHeight]="48"
                                     [footerHeight]="56"
                                     [rowHeight]="'auto'"
                                     [scrollbarH]="true"
                                     [reorderable]="reorderable"
                                     [selectionType]="'single'"
                                     [limit]="10"
                                     (select)="onSelect($event)">


                        <ngx-datatable-column name="{{column.header}}" prop="{{column.field}}" *ngFor="let column of columnDef">

                          <ng-template ngx-datatable-header-template let-value="value">
                            <div *ngIf="!column.checkall">
                              <span>{{column.header}}</span>
                            </div>
                            <div *ngIf="column.checkall">
                              <mat-checkbox (change)="selectAllCheckbox(column.field,$event)"></mat-checkbox> <span style="padding-left:5px;">{{column.header}}</span>
                            </div>
                          </ng-template>


                          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <div *ngIf="column.type=='checkbox'">
                              <mat-checkbox [checked]="value" (change)="onCheckboxChange(rowIndex,column.field,$event)"></mat-checkbox>
                            </div>
                            <div *ngIf="column.type=='textbox'">
                              <span title="Double click to edit textbox" class="label"
                                    (dblclick)="showInline(rowIndex +column.field)"
                                    *ngIf="!editing[rowIndex + column.field]">
                                {{ value }}
                              </span>
                              <input autofocus matInput class="grid-textbox"
                                     (blur)="updateValue($event, column.field, rowIndex)"
                                     *ngIf="editing[rowIndex + column.field]"
                                     type="text"
                                     [value]="value" />
                            </div>
                            <div *ngIf="column.type=='selection'">
                              <span title="Double click to edit textbox" class="label"
                                    (dblclick)="showInline(rowIndex +column.field)"
                                    *ngIf="!editing[rowIndex + column.field]">
                                {{ getValue(value,column.options) }}
                              </span>
                              <select *ngIf="editing[rowIndex + column.field]"
                                      (blur)="editing[rowIndex + column.field] = false"
                                      (change)="updateValue($event, column.field, rowIndex)"
                                      [value]="value">
                                <option value="{{opt.id}}" *ngFor="let opt of column.options">{{opt.description}}</option>

                              </select>
                            </div>
                            <div *ngIf="column.type=='label'">
                              <span class="label"> {{ value }} </span>
                            </div>
                          </ng-template>


                        </ngx-datatable-column>
                      </ngx-datatable>-->
                    </div>
                  </div>



                  <div fxLayout="row" fxLayoutAlign="center center">
                    <button class="mr-8" mat-raised-button type="submit" (click)="save()" color="accent">
                      Save
                    </button>
                    <button mat-raised-button type="button" color="basic" (click)="clear()">
                      Clear
                    </button>
                  </div>

                </div>
              </div>

            </div>
          </mat-tab>

          <mat-tab label="Property List">
            <div class="products tab-content p-24 " fusePerfectScrollbar>

              <grid [dataSet]="rowData" [gridColDef]="columnDef" (selectedRows)="selectedRows($event)"></grid>

            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>



